body{
    margin:0px;
    background: rgba(248, 247, 236, 0.5);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.navbar{
    display: flex;
    width: 100%;
    height: 153px;
    background-color: #CBC1B1;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.left{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    }
.logo{
    background-image: url("Logo.png");
    width: 100%;
    height:100%;
    margin-left: 20%;

    background-repeat: no-repeat;
     }
.right{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    font-size: 100%;
    }
.footer{
    display: flex;
    position: absolute;
    margin-top: 200px;
    width: 100%;
    height: 150px;
    background-color: #CBC1B1;
    justify-content: center;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
}
.text1{
    background-color:rgba(124, 116, 116, 0.5);
    width: 16%;
    
}
.text2
 {
    width: 25%;
 }
 .text3{
    width: 16%;
 }
.text-container{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.link{
    color: inherit;
}
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-img{
    background-size: cover;
    background-image: url("hero-image.png");
    width: 100%;
    height: 919px;
    background-repeat: no-repeat;
}
.section1{
    background-color: rgba(124, 116, 116, 0.4);
    width: 650px;
    height: 350px;
    margin-top: 540px;
    margin-left: 65%;
    color: #F8F7EC;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 0.1em;
}
.content{
    width: 95%;
    display: flex;
    height: 100%;
    line-height:  24px; ;
    justify-content: center;
    margin-left: 5%;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
}
.button-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.button{
    text-transform: uppercase;
    color: #F8F7EC;
    letter-spacing: 0.1em;
    border-color: transparent;
    background-color: #7C7474;
    height: 65%;
    width: 30%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section2{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    gap: 100px;
}
h2{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    height: 100%;

}
.image-container{
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 70%;
    justify-content: center;
    height: 100%;

}
.madeira{
    background-image: url("madeira.png");
}

.sardinie{
    background-image: url("sardinie.png");
}
.kypr {
    background-image: url("kypr.png");
}
.image{
    width: 350px;
    height: 350px;
}
.info{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}
.text{
    width: 80%;
}
h3{
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.button2{
    text-transform: uppercase;
    color: #F8F7EC;
    letter-spacing: 0.1em;
    border-color: transparent;
    background-color: #7C7474;
    height: 60px;
    width: 12%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button2-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}