body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  display: flex;
  
  position:fixed;
  background-color: white;
  width: 10000px;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-logo{
  display: flex;
  margin-left: 200px;
  height: 100px;
}
.navbar {
  display:flex;
  margin-left: 1000px;
  gap: 100px;
  font-size: large;
  align-items: center;
  
  
}
.headline-1
{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
 margin-top: 100px;
  width: max-content;
  
  position: absolute;
  font-size: x-large;
  width: 1900px;
  justify-content: center;
}
.hero section{
  display:flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  margin-top:  1000px;
  background-color: orange;
}



/* Barvy
Světlá barva pozadí: #f2b880
Tmavší barvy pozadí za obrázkem: #e88121
Barva text v oranžovém pozadí: #752400
*/
