body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  display: flex;
  
  position:fixed;
  background-color: white;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-logo{
  display: flex;
  height: 5rem;
  justify-self: flex-start;
  margin-left: 12rem;
}
.navbar {
  display:flex;
  margin-right: 12rem;
  gap: 3rem ;
  font-size: large;
  justify-self: flex-end;
  align-items: center;
}
.headline-1
{
  padding: 100px;
  align-items: center;
  font-size: xx-large;
  display:flex;
  justify-content: center;
  width: 100%;
}
.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2b880;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1rem;
  padding: 20px;
}
.hero-img{
  margin: 2%;
  position: relative;
}
.hero-text{
  width: 34rem;
  line-height: 30px;
  color: #752400;
}
.text{
  width: 100%;
  flex-wrap: wrap;

}
.text-wrapper{
  margin-top: 5rem;
  margin-left: 45rem;
  width: 40rem;
  font-size: large;
  justify-content: center;
  margin-bottom: 5rem;
}
.img-placeholder{
  background-color: #e88121;
  position: absolute;
  left: -20px;
  top: -20px;
  height: 100%;
  width: 100%;
}

.top-link{
  position: fixed;
  bottom: 20px;
  right: 20px;


}
.top-link img{
  height: 20px;
  width: 20px;
}
.hero-img img{
  z-index: 2;
  position: relative;
}
/* Barvy
Světlá barva pozadí: #f2b880
Tmavší barvy pozadí za obrázkem: #e88121
Barva text v oranžovém pozadí: #752400
*/
